services:
  api:
    build: .
    env_file:
      - .env
    ports:
      - "${PORT}:8080"
    depends_on:
      - db
    volumes:
      - ./infrastructure/migrations:/migrations:ro
      - csv_data:/data
  db:
    image: postgres:16
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./infrastructure/migrations:/docker-entrypoint-initdb.d:ro
volumes:
  postgres_data:
  csv_data:
